.baslik  {
	font-family:"WildOnes";
	position:relative;
	left:50px;
	font-size:40px;
	bottom:10px;
}
.dk{
	position:relative;
	left:80px;
	bottom:200px;
	width:475 px;
	height:100 px;
}
.menu{
	position:relative;
	top:50px;
	font-family:TimesNewRoman, Times;
	background-color:#005e20;
	width:90%;
	height:50px;
	margin-top:30px;
	
}
.menu ul {
	list-style-type:none;
}
.menu ul li {
	width:250px;
	height:70px;
	float:left;
	
}
.dergi img {
	width:150px;
	height:70px;
}
.i0{
	position:relative;
	overflow:hidden;
	left:250px;
	color:#aba000;
	font-size:40px;
}
.i1{
	position:relative;
	overflow:hidden;
	left:300px;
	bottom:48px;
	color:#aba000;
	font-size:40px;
}
.i2{
	position:relative;
	overflow:hidden;
	left:575px;
	bottom:95px;
	color:#aba000;
	font-size:40px;
}
.i3{
	position:relative;
	overflow:hidden;
	left:825px;
	bottom:140px;
	color:#aba000;
	font-size:40px;
}
.content{
	position:relative;
	width:100%;
	height:500px;
	bottom:350px;
	text-align:center;
	overflow:hidden;
	opacity: 0.6;
    filter: alpha(opacity=30);
}
.content1 {
	position:relative;
	bottom:850px;
	background-color:#005e20;
	width:500px;
	height:500px;
	opacity: 0.6;
    filter: alpha(opacity=30);
}
@font-face {
	font-family:"WildOnes";
	src:url("fonts/wild.ttf")
	
}
.scroll-up {
	position:relative;
	height: 500px;	
	overflow: hidden;
	color:black;
	bottom:800px;
	left:220px;
}
.scroll-up p {
 position: absolute;
 width: 500px;
 height: 450px;
 line-height:30px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-up 15s linear infinite;
 -webkit-animation: scroll-up 15s linear infinite;
 animation: scroll-up 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-up {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
 0%   { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 
 }
}
header {
	background-color:#aba000;
	width:400px;
	height:100px;
	margin-top:10px;
}